.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #7a9aea, #6200ff);
    color: white;
    height: fit-content;
    border-radius: 18%;
    border: 5px solid black;
    width: 50%;
    margin: 0 auto;

}
button{
    margin:20px 10px 20px 10px;
    width: 30%;
    height: 40px;
    border-radius: 10%;
    border: 3px solid black;
    font-weight: bold;
    background-color:rgb(107, 107, 251);
    color: white;
}
input{
    border-radius: 10%;
    border: 3px solid black;
    width: 30%;
    height: 40px;
    text-align: right;
    
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:underline;
    color: black;
}